/* ===== TABLET ===== */


@media (max-width: 992px) {
    .imgLogo img {
        display: none;
    }

    header .d-flex {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    header .nav {
        justify-content: center;
    }

    #busca {
        max-width: 100%;
    }
}

/* ===== CELULAR ===== */
@media (max-width: 576px) {

    header > nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    header > nav .nav-link {
        font-size: 13px;
        padding: 4px 8px;
    }

    header .col-4 a {
        font-size: 0.9rem;
    }

    #carouselExampleIndicators .carousel-inner,
    #carouselExampleIndicators .carousel-item {
        height: 200px;
    }

    .promo-img img {
        width: 160px;
    }

    .promo-text h2 {
        font-size: 20px;
    }

    .promo-text p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .produto-card {
        min-width: 180px;
        max-width: 180px;
    }

    .produto-card img {
        height: 150px;
    }

    .vitrine-btn {
        width: 32px;
        height: 32px;
    }

    .promo-card {
        flex-direction: column;
        text-align: center;
        padding: 25px 15px;
    }

    .promo-img img {
        width: 200px;
    }
}