/* ===== TABLET ===== */
@media (max-width: 992px) {
    header .d-flex {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    header .nav {
        justify-content: center;
    }

    #busca {
        max-width: 100%;
    }
}

/* ===== CELULAR ===== */
@media (max-width: 576px) {
    .imgLogo img {
        display: none;
    }

    header > nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    header > nav .nav-link {
        font-size: 13px;
        padding: 4px 8px;
    }

    header .col-4 a {
        font-size: 0.9rem;
    }
}